<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">
<tr class="anx-traffic__row{f:if(condition: row.isError, then: ' is-error')}">
    <td class="anx-traffic__time"><time datetime="{row.timeIso}">{row.time}</time></td>
    <td><span class="anx-proto-chip anx-accent--{row.protocol}">{row.protocolLabel}</span></td>
    <td>{row.channelLabel}</td>
    <td class="anx-traffic__request">
        <a href="{row.detailUri}" title="{f:translate(domain: 'agent_nexus.traffic', key: 'table.open', arguments: '{0: row.uid}')}">
            <code>{row.endpoint}</code>
        </a>
    </td>
    <td>
        <f:if condition="{row.operation}"><code>{row.operation}</code></f:if>
        <f:if condition="{row.correlationId}"><br /><span class="text-variant anx-traffic__object">{row.correlationId}</span></f:if>
    </td>
    <td>
        <span class="badge badge-{row.statusBadge}">{row.status}</span>
        <f:if condition="{row.isStream}"><span class="badge badge-default"><f:translate domain="agent_nexus.traffic" key="table.stream" /></span></f:if>
    </td>
    <td class="text-end">{row.duration}</td>
    <td class="text-end">{f:if(condition: row.eventCount, then: row.eventCount, else: '–')}</td>
</tr>
</html>
