<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
      data-namespace-typo3-fluid="true">
<f:variable name="variant" value="{f:if(condition: props.variant, then: props.variant, else: 'primary')}" />
<f:variable name="caption" value="{f:if(condition: props.text, then: props.text, else: props.label)}" />
<div class="mb-3">
    <button
        type="button"
        class="btn btn-{variant}"
        id="{id}"
        data-a2ui-action="{action -> f:format.json()}"
        <f:if condition="{props.disabled}">disabled</f:if>
    >
        <f:if condition="{props.icon}"><core:icon identifier="{props.icon}" size="small" /> </f:if>{caption}
    </button>
</div>
</html>
