<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:asset.css identifier="anx-tokens" href="{f:uri.resource(path: 'Css/nexus-tokens.css', extensionName: 'agent_nexus')}" />
<f:asset.css identifier="anx-frontend" href="{f:uri.resource(path: 'Css/nexus-frontend.css', extensionName: 'agent_nexus')}" />

<f:render partial="Plugin/Concierge" arguments="{_all}" />

<f:asset.script identifier="a2a-concierge" src="{f:uri.resource(path: 'JavaScript/a2a-concierge.js', extensionName: 'agent_nexus')}" type="module" />

</html>
